<div class="container my-4">
  <div class="card shadow rounded">
    <div class="card-header bg-primary text-white d-flex align-items-center">
      <i class="bi bi-clock-fill me-2"></i>
      <h5 class="mb-0">Lista de Horários Cadastrados</h5>
    </div>

    <div class="card-body">
      <div class="table-responsive" *ngIf="horarios.length > 0; else semHorarios">
        <table class="table table-hover align-middle">
          <thead class="table-light">
            <tr>
              <th>Horário</th>
              <th>Status</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let horario of horarios">
              <td>{{ horario.horario }}</td>
              <td>{{ horario.status }}</td>
              <td>
                <button class="btn btn-sm btn-outline-primary me-2" (click)="openEditForm(horario)">
                  <i class="bi bi-pencil-square"></i> Editar
                </button>
                <button class="btn btn-sm btn-outline-danger" (click)="deleteHours(horario.idDispo)" >
                  <i class="bi bi-trash"></i> Excluir
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Caso não haja horários -->
      <ng-template #semHorarios>
        <div class="text-center text-muted py-4">
          Nenhum horário cadastrado.
        </div>
      </ng-template>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
     <button  class="btn btn-outline-light w-50 mt-3 btn-anim" routerLink="/home">
      Voltar
  </button>
</div>

<!-- Fundo escuro (overlay) -->
<div class="edit-overlay d-flex justify-content-center align-items-center" *ngIf="selectedHour">
  <!-- Modal de edição -->
  <div class="edit-popup card shadow p-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
      <h5 class="mb-0">Editando: {{ selectedHour.horario }}</h5>
      <button class="btn-close" aria-label="Close" (click)="selectedHour = null"></button>
    </div>

    <div class="mb-3">
      <label for="editHorario" class="form-label">Horário</label>
      <input type="text" id="editHorario" [(ngModel)]="selectedHour.horario" class="form-control">
    </div>

    <div class="mb-3">
     <label for="editStatus" class="form-label">Status</label>
     <select id="editStatus" class="form-select custom-select-small" [(ngModel)]="selectedHour.status" >
     <option >Selecione o status</option>
     <option value="Disponível">Disponível</option>
     <option value="Indisponível">Indisponível</option>
     </select>
    </div>

    <div class="d-flex justify-content-end">
      <button class="btn btn-success me-2" (click)="saveHour()">Salvar</button>
      <button class="btn btn-secondary" (click)="selectedHour = null">Cancelar</button>
    </div>

  </div>
</div>




