<section class="container mt-5">
  <div class="card shadow-lg border-0">
    <div class="card-body">
      <h2 class="text-center mb-4">
        <i class="bi bi-exclamation-circle-fill text-warning me-2" *ngIf="pendencias.length > 0"></i>
        <i class="bi bi-check-circle-fill text-success me-2" *ngIf="pendencias.length === 0"></i>
        {{ pendencias.length > 0 ? 'Pendências Encontradas' : 'Sem Pendências' }}
      </h2>

      <!-- Lista de pendências -->
      <div *ngIf="pendencias.length > 0">
        <ul class="list-group">
          <li *ngFor="let p of pendencias" class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <p class="mb-1"><i class="bi bi-calendar-event text-primary me-2"></i> <strong>Data:</strong> {{ getDataFormatada(p.data)}}</p>
              <p class="mb-1"><i class="bi bi-clock text-info me-2"></i> <strong>Horário:</strong> {{ p.horario }}</p>
              <p class="mb-1">
                <i class="bi bi-flag-fill text-danger me-2"></i> 
                <strong>Status:</strong> 
                <span [ngClass]=>{{ p.status }}</span>
              </p>
              <p class="mb-0"><i class="bi bi-cash-coin text-success me-2"></i> <strong>Preço:</strong> R$ {{ p.preco }}</p>
              <p class="me-2"> <strong class="me-2">Codigo do agendamento:</strong>{{p.codigoAgendamento}}</p>
            </div>

             <div class="d-flex gap-2">
               <button class="btn btn-success btn-sm" (click)="concluirPendencia(p.idAppointment)">
                 <i class="bi bi-check-lg me-1"></i> Concluir
               </button>
             </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

