<div class="container mt-4">
  <h2 class="mb-4 text-dark">Lista de Serviços Cadastrados</h2>

  <!-- Serviço 1 -->
  <div *ngFor="let servico of services" class="card service-card mb-3 listService">
    <div class="card-body">
      <h5 class="service-header"><strong>Serviço:</strong> {{ servico.name }}</h5>
      <p  class="mt-3"><strong>Descrição:</strong> {{ servico.descricao }}</p>
      <p class="mt-3"><strong>Duração:</strong> {{ servico.duracao }} minutos</p>
      <p><strong>Valor:</strong> R$ {{ servico.price }}</p>
      <div class="d-flex gap-2 justify-content-center mt-3">
        <button class="btn btn-sm btn-primary w-25" (click)="openEditForm(servico)">
          <i class="bi bi-pencil-square"></i> Editar
        </button>
        <button class="btn btn-sm btn-danger w-25" (click)="deleteService(servico.idServi)">
          <i class="bi bi-trash"></i> Deletar
        </button>
      </div>
    </div>
  </div>

<div class="d-flex justify-content-center">
     <button  class="btn btn-light w-50 mt-3 btn-anim" routerLink="/home">
      Voltar
    </button>
</div>

<!-- Formulario edição -->
<div *ngIf="selectedService" class="edit-popup card shadow">
  <div class="card-header d-flex justify-content-between align-items-center bg-primary text-white">
    <span>Editando Serviço: <b>{{ selectedService.name }}</b> </span>
    <button class="btn-close btn-close-white" aria-label="Close" (click)="selectedService = null"></button>
  </div>

  <div class="card-body">
    <div class="mb-2">
      <label for="editName" class="form-label">Nome do Serviço</label>
      <input type="text" id="editName" class="form-control form-control-sm" [(ngModel)]="selectedService.name" readonly>
    </div>

    <div class="mb-2">
      <label for="editDescricao" class="form-label">Descrição</label>
      <textarea id="editDescricao" class="form-control form-control-sm" [(ngModel)]="selectedService.descricao" readonly></textarea>
    </div>

    <div class="mb-2">
      <label for="editDuracao" class="form-label">Duração (minutos)</label>
      <input type="number" id="editDuracao" class="form-control form-control-sm" [(ngModel)]="selectedService.duracao">
    </div>

    <div class="mb-2">
      <label for="editPrice" class="form-label">Valor</label>
      <input type="text" id="editPrice" class="form-control form-control-sm" mask="separator.2" thousandSeparator="." decimalMarker="," [(ngModel)]="selectedService.price">
    </div>
     
    <div class="mb-2 d-flex gap-2 justify-content-center mt-3">
      <button class="btn btn-success btn-sm me-2 w-25" (click)="saveService()">Salvar</button>
      <button class="btn btn-secondary btn-sm w-25" (click)="selectedService = null">Cancelar</button>
    </div>
  </div>
</div>

  
</div>



