
 .btn-anim {
    transition: all 0.3s ease;
  }

  .btn-anim:hover {
    transform: translateY(-3px);
    opacity: 0.9;
  }

  .home-container {
    background-color: #2c2f3f;
    margin-top: 15%;
  }

  .dashboard {
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    
  }
